<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <properties>
        <property name="G_EncKey" value="'nexus6@$)2%*)'" />
        <property name="g_now" value="now()" />
    </properties>

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
</configuration>